{% extends 'dashboard.html' %}
{% block title %}view notes {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static',filename='addnotes.css')}}"/>
{% endblock %}
{% block content %}
<h1>View Note</h1>

<label for="title">Title:</label>
<input type="text" id="title" value="{{ notesdata[1] }}" readonly />
<br><br>

<label for="text">Text:</label>
<textarea id="text" rows="6" cols="40" readonly>
{{ notesdata[2] }}
</textarea>
<br><br>

<label>Created At:</label>
<p>{{ notesdata[3] }}</p>

{% endblock %}
